.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
    position:absolute;
    right: 50px;
    bottom: 50 px;
}
.new-p{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
    position:absolute;
    left: 60px;
    bottom: 50 px;
}